{% include "head.html" %}
  <body>
    {% include "navbar.html" %}
    {% include "hero.html" %}
    {% include "features.html" %}
    {% include "key-features.html" %}
    {% include "installation.html" %}
    {% include "usage.html" %}
    {% include "cta.html" %}
    {% include "footer.html" %}
